.navbar-brand{
    font-family: 'Montserrat';
font-weight: 600;
font-size: 28px;
}

.nav-item{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.nav-item .nav-link.active {
    font-weight: 600;
    color: #fcbb3a !important;
}
.nav-link {
    color: black !important;
}
.nav-link:hover{
    color: #fcbb3a !important;
}

/*Hero Section*/
.hero-section{
    margin-top: 45px;
}
.hero-section h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 52px;
}

.hero-section p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
}

.hero-section .btn-cta {
    margin-top: 80px;
}
.hero-section .btn-cta img{
    width: 67px;
}
.hero-section .btn{
border-radius: 0px 18px 18px 0px;
margin-left: 15px;   
}

/*Akhir Hero Section*/


.section-title {
    border-bottom: 3px solid #fcbb3a ;
    width: 8%;
    padding-bottom: 5px;
    margin-bottom: 20px;

    
}

/*Categories*/
.tag {
    z-index: 3;
    background-color: #fcbb3a;
    padding: 0.25rem 1.2rem;
    position: absolute;
    bottom: 0;
    left: 15px;
border-radius: 0px 20px;
min-height: 30px;
}
.component-categories{
    margin-bottom: 32px;
}
.categories-thumbnail {
    width: 100%;
    height: 462px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.categories-thumbnail-small {
    width: 100%;
    height: 215px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.tag span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.categories-thumbnail:hover .categories-img{
    transform: scale(1.1);
}

.categories-thumbnail-small:hover .categories-img{
    transform: scale(1.1);
}


.categories-img {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0,3s ease;

}
/*Tutup Categories*/

/*Popular Products*/
.popular-products{
    background: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 36px;
}
.component-products{
    margin-top: 50px;
    margin-bottom: 36px;
    background: #ffffff;
    border-radius: 8px;
    border: #000000;
    padding-bottom: 15px;

    transition: all 0.2s ease-in-out;
}

.component-products:hover{
    text-decoration: none;
    transform: scale(1.1);
}
.products-img{
    padding: 0.5rem;
    border-radius: 8px 8px;
    background: #f6fafd;
    transition: all 0.3s ease;
    

}
.products-text{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    text-align: center;

    color: #000000;
}
.products-price{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    color: #e98015;

}
/*Tutup Popular Products*/

/*Testimonial*/
.testimonial{
    padding-top: 22px;
    padding-bottom: 22px;

}
.testimonial-image {
    z-index: 1;
    position: absolute;
    width: 365px;
    height: 500px;
    margin: 30px 0px 0px 30px;
}

.testimonial-frame {
    width: 365px;
    height: 500px;
}
.testimonial-text{
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;

    color: #000000;
}
.testimonial-name{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;

    color: #D9D9D9;
}

.btn-testimonial{
    background: #fcbb3a ;

    width: 150px;
    height: 38px;
    
}
/*Tutup Testimonial*/

/*Footer*/
.footer{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f5f4f5;
}
.footer h2{
    font-family: 'Poppins'; 
    font-weight: 600;
    font-size: 42px;
    text-transform: uppercase;

    color: #0C103B;
}

.footer h5 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;

    color: #152C5B;
}

.footer p{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;

    color: rgba(138, 135, 135, 0.65);
}

.footer-small{
    background-color: #171938;
    text-align: center;
}

.footer-small p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 24px;

    margin-top: 30px;


    color: #FFFFFF;
}
.footer-small a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;

    color: #fcbb3a;
}

/*Tutup Footer*/